body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: black;
    color: white;
  }
  
  h3 {
    font-size: 25px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #successMessage {
    color: rgb(13, 163, 13);
    font-size: 18px;
    margin-top: 50px;
  }
  
  #errorMessage {
    color: red;
    font-size: 18px;
  }
  
  .forma {
    display: flex;
    align-content:flex-start;
    justify-content:flex-start;
  }
  .input1{
      margin-right: 24%;
  }
  .input1 input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 220%;
    padding: 10px;
    left: 0;
  }
  
  .input2{
      margin-right: 24%;
  }
  .input2 input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 220%;
    padding: 10px;
  }
  
  .input3 input {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 200%;
    padding: 10px;
  }
  
  .btn {
    padding: 8px 40px 8px 40px;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 40px;
  }
  
  .secondheight {
    margin-top: 50px;
  }
  #employeeList{
      color: gray;
  }
  
  .employeeContainer {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .employeeDetails {
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px 25px 10px 5px;
  }
  
  .deleteButton {
    border-radius: 25px;
    margin-left: 25px;
    padding: 8px 25px;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  #deleteMessage {
    margin-top: 15px;
    color: yellow;
  }